/* creando estilos personalizados
/* probando conocimientos en CSS*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo de header */
/*-------------------------------------------------*/

.nav_bar{

    width: 50%;
    height: 60px;
    margin: 0 auto;

    align-items: center;
}
.menu{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}
.menu ul{
    margin-right: 50px;
}
.menu li{
    
    font-family: 'Wendy One', sans-serif;
    display: inline-flex;
    margin: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.navegacion{
    font-family: 'Wendy One', sans-serif;
    font-style: bold;
    font-size: 25px;
}

.navegacion span{
    color: orangered;
}

.slider{
    width: 100%;
    height: 600px;
    background-image: url('lago.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: .9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: blanchedalmond;
    font-size: 1.5em;
}
.in_slider{
    width: 30%;
    height: 250px;
    margin-left: 25%;
    border: 15px solid #02D267;
    border-right-style: none;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.in_slider_text{
    overflow: hidden;
    margin-left: 10px;
    padding:30px;
    color: blanchedalmond;
    font-size: 1.5rem;
}
.divider{
    width: 100%;
    height: 10px;
    background-color: brown;
}

/*-----------------------------------------------------*/


/*-----------------------SECTION-----------------------*/



.contenedor{
    width: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    
}
.subcontenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -50px;
    margin-bottom: 20px;
}
.contenedor_service{
    width: 20%;
    height: auto;
    background-color: rgb(235, 232, 232);
    padding:15px 0px 0 0px;
    box-shadow: 1px -2px 20px 3px grey;
}

.contenedor_service:hover{
   box-shadow: 1px -2px 20px 3px orangered;
   border-bottom: #02D267;
}

.contenedor_imagen{
    width: 90%;
    margin: 0 auto;
    font-size: 90px;
    padding: 20px;
    text-align: center;
    color: orangered;
}
.contenedor_accion{
    
    font-family: 'Wendy One', sans-serif;
    font-style: thin;
    background-color: #fff;
    padding:20px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    border-bottom: 2px solid orangered;
    border-bottom-width: 50%;
}
.contenedor_accion:hover{
    background-color: #02D267;
    border-bottom: #02D267;
}

.contenedor_descripcion{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-weight: 500;
    padding: 32px;
    text-align: center;
    
}
.contenedor_descripcion_text{
    margin-bottom: 50px;
}
.contenedor_descripcion_acciones{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 70px;
}
.contenedor_descripcion_acciones a{
    padding: 20px 35px;
    border: 2px solid #02D267 ;
   
}
.impar{
    transition: 1s all ease;
    color: #02D267;
}
.impar:hover{
    letter-spacing: .2em;
}
.par{
    transition: 1s all ease;
    background-color: #02D267;
    color: white;
}
.par:hover{
    letter-spacing: .2em;
}

.contenedor_descripcion_imagenes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img1{
    width: 45%;
    height: 300px;
    background-image: url('img1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    opacity: .7;
    
}
.img1:hover{
    cursor: pointer;
    opacity: 1;
    box-shadow: 1px 1px 15px 2px #02D267;
}
.img2{
    width: 45%;
    height: 300px;
    background-image: url('img2.jpg');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    opacity: .7;
}
.img2:hover{
    cursor: pointer;
    opacity: 1;
    box-shadow: 1px 1px 15px 2px #02D267;
}
.img1 p{
    text-align: left;
    font-size: 1.6em;
    height: 40%;
    margin-right: 10%;
    color: white;
    width: 40%;
    border: 10px solid #02D267;
    border-left-style: hidden;
}
.img2 p{
    text-align: right;
    font-size: 1.6em;
    height: 40%;
    margin-left: 10%;
    color: white;
    width: 40%;
    border: 10px solid #02D267;
    border-right-style: hidden;
}

.estadisticas{
    width: 100%;
    background: linear-gradient(45deg, rgb(247, 3, 3) 12%, transparent 0, transparent 88%, rgb(255, 60, 0) 0),
    linear-gradient(135deg, transparent 37%, rgb(245, 57, 0) 0, rgb(255, 53, 2) 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, rgb(255, 0, 0) 0, rgb(252, 0, 0) 63%, transparent 0) rgb(252, 92, 0);
    background-size: 5px 5px;

    box-shadow: 0px -75px 1000px 150px rgba(128, 128, 128, 0.747);
}

.contenedor_estadisticas_items{
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    
}
.contenedor_estadisticas_items_list{
    display: flex;
    flex-direction: row;
    justify-content: ;
    list-style: none;
    text-align: center;
    padding: 20px;
    color: wheat;
}
.hover_select{
    padding: 20px;
    cursor: pointer;
}
.hover_select i{
    font-size: 60px;
    margin-bottom: 15px;
}

.hover_select p{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 12px ;
    margin-bottom: 10px;
    margin-bottom: 15px;
}
.hover_select:hover{
    border: 1px solid white;
}
.hover_select h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px ;
    margin-bottom: 10px;
    margin-bottom: 15px;
}
.lhover_select h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px ;
    margin-bottom: 10px;
    margin-bottom: 15px;
}
.contendor_estadisticas_acciones{
    width: 100%;
    height: auto;
    padding: 90px;
    background-image: url('tree.jpg');
    background-repeat: no-repeat;
    background-position: bottom ;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.contendor_estadisticas_acciones h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px ;
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 2px solid orangered;
}
.contendor_estadisticas_acciones p{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px ;
    margin-bottom: 30px;
}
.contendor_estadisticas_acciones a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    padding: 15px 25px;
    border: 2px solid white;
    transition: 2s all ease;
}
.contendor_estadisticas_acciones a:hover{
    transition: 2s all ease;
    background-color: orangered;
    letter-spacing: 2px;
    border: none;
}
.border_acciones{
    width: 100%;
    height: 7px;
    background-color: orangered;
}
.contenedor_opciones{
    width: 50%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
}
.contenedor_opciones_box{
    width: 100%;
    margin-top: 50px;
    flex-direction: row;
}
.contenedor_opciones_box_imagen{
    /* opacity: .7; */
    display: flex;
    flex-direction: row;
    background-image: url('img1.jpg');
    background-repeat: no-repeat;
    width: 40%;
    height: 300px;
    float: left;
    margin: 35px;
    color: white;
    justify-content: flex-start;
    align-items: center;
    text-align: right;
}
.contenedor_opciones_box_imagen p{
    /* opacity: 1; */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 40%;
    margin-left: 20%;
    border: 10px solid #02D267;
    border-right-style: hidden;
    padding: 10px;
}
.contenedor_opciones_box_text{
    width: 40%;
    height: 300px;
    padding-top: 20px;
    margin: 50px;
    
    float: left;
}

.contenedor_opciones_box_text p{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    line-height: 26px;
    padding-bottom: 45px;
}
.contenedor_opciones_box_text a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 25px;
    margin-top: 100px;
    border: 2px solid #02D267;
    transition: 1s all ease;
}
.contenedor_opciones_box_text a:hover{
    background-color: #02D267;
    letter-spacing: 0.1em;
}

.contenedor_opciones_box_square{
    width: 100%;
    text-align: right;
    padding: 5px;
}
.square{
    border:15px solid #02D267;
    border-left-style: hidden;
    width: 50%;
    float: right;
    margin: 25px 0;
    
}
.square h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 40px 0;
    padding-right: 30px;
    /* white-space: nowrap; */
}

.formulario_contacto{
    /* opacity: .8; */
    background-image: url('call.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    border:1px solid black;
}

.formulario_contacto h2{
    text-transform: uppercase;
    color: white;
    margin: 50px;
}
.contenedor_formulario{
    width: 40%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.text{
    font-size: 16px;
    padding: 12px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 50%;
    height: 100px;
    float: left;
    border:1px thick black;
    

}
.text_area{
    font-size: 16px;
    padding: 0px 0 300px 25px ;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 100%;
    border:1px thick black;
    height: 400px;
}
.contenedor_formulario button{
    cursor: pointer;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 20px 0;
    background-color: #FF4500;
    border:1px solid #FF4500;
    width: 100%;
}
.contenedor_formulario button:hover{
    background-color: #02D267;
    border:1px solid #02D267;
}
input[type=text]:focus {
    border: 3px solid #02D267;
  }
