/* creando estilos personalizados
/* probando conocimientos en CSS*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo de header */
/*-------------------------------------------------*/

.nav_bar{

    width: 50%;
    height: 60px;
    margin: 0 auto;

    align-items: center;
}
.menu{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}
.menu ul{
    margin-right: 50px;
}
.menu li{
    
    font-family: 'Wendy One', sans-serif;
    display: inline-flex;
    margin: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.navegacion{
    font-family: 'Wendy One', sans-serif;
    font-style: bold;
    font-size: 25px;
}

.navegacion span{
    color: orangered;
}

.slider{
    width: 100%;
    height: 600px;
    background-image: url('lago.jpg');
    opacity: .8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: blanchedalmond;
    font-size: 1.5em;
}
.in_slider{
    width: 30%;
    height: 250px;
    margin-left: 25%;
    border: 15px solid #02D267;
    border-right-style: none;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.in_slider_text{
    overflow: hidden;
    margin-left: 10px;
    padding:30px;
    color: blanchedalmond;
    font-size: 1.5rem;
}
.divider{
    width: 100%;
    height: 10px;
    background-color: brown;
}

/*-----------------------------------------------------*/


/*-----------------------SECTION-----------------------*/



.contenedor{
    width: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    
}
.subcontenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -50px;
    margin-bottom: 20px;
}
.contenedor_service{
    width: 20%;
    height: auto;
    background-color: rgb(235, 232, 232);
    padding:15px 0px 0 0px;
    box-shadow: 1px -2px 20px 3px grey;
}

.contenedor_service:hover{
   box-shadow: 1px -2px 20px 3px orangered;
   border-bottom: #02D267;
}

.contenedor_imagen{
    width: 90%;
    margin: 0 auto;
    font-size: 90px;
    padding: 20px;
    text-align: center;
    color: orangered;
}
.contenedor_accion{
    
    font-family: 'Wendy One', sans-serif;
    font-style: thin;
    background-color: #fff;
    padding:20px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    border-bottom: 2px solid orangered;
    border-bottom-width: 50%;
}
.contenedor_accion:hover{
    background-color: #02D267;
    border-bottom: #02D267;
}

.contenedor_descripcion{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    padding: 32px;
    text-align: center;
    
}
.contenedor_descripcion_text{
    margin-bottom: 50px;
}
.contenedor_descripcion_acciones{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 70px;
}
.contenedor_descripcion_acciones a{
    padding: 10px 35px;
    border: 2px solid #02D267 ;
   
}
.impar{
    color: #02D267;
}
.impar:hover{
    letter-spacing: 1px;
}
.par{
    background-color: #02D267;
    color: white;
}
.par:hover{
    letter-spacing: 1px;
}

.contenedor_descripcion_imagenes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img1{
    width: 45%;
    height: 300px;
    background-image: url('img1.jpg');
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    opacity: .7;
    
}
.img1:hover{
    cursor: pointer;
    opacity: 1;
    box-shadow: 1px 1px 15px 2px #02D267;
}
.img2{
    width: 45%;
    height: 300px;
    background-image: url('img2.jpg');
    background-origin: content-box;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    opacity: .7;
}
.img2:hover{
    cursor: pointer;
    opacity: 1;
    box-shadow: 1px 1px 15px 2px #02D267;
}
.img1 p{
    text-align: left;
    font-size: 1.6em;
    height: 30%;
    margin-right: 10%;
    color: white;
    width: 40%;
    border: 10px solid #02D267;
    border-left-style: hidden;
}
.img2 p{
    text-align: right;
    font-size: 1.6em;
    height: 30%;
    margin-left: 10%;
    color: white;
    width: 40%;
    border: 10px solid #02D267;
    border-right-style: hidden;
}

.estadisticas{
    width: 100%;
    background:orangered;
}